<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro | ROME</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/components.css">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>

<header>
    <h1 class="logo">ROME</h1>
    <nav>
        <a href="index.html">Home</a>
        <a href="produtos.html">Produtos</a>
        <a href="carrinho.html">Carrinho</a>
    </nav>
</header>

<main>

<h2 class="titulo">Cadastro</h2>

<form class="cadastro-form" action="/cadastro" method="post">

    <label>Seu email:
        <input type="email" name="email" required>
    </label>

    <label>Crie uma senha:
        <input type="password" name="senha" required>
    </label> <button type="submit">Cadastrar</button>
</form>

</main>

<footer>
    <p>© 2025 — Minha Loja</p>
</footer>

</body>
</html>