<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro | ROME</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/components.css">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>

<header>
    <h1 class="logo">ROME</h1>
        <nav>
        <a th:href="@{/}">Home</a>
        <a th:href="@{/masculino}">Masculino</a>
        <a th:href="@{/feminino}">Feminino</a>
        <a th:href="@{/acessorios}">Acessórios</a>
        <a th:href="@{/promocoes}">Promoções</a>
    </nav>
</header>

<main>

<h2 class="titulo">Cadastro</h2>

<form class="cadastro-form" action="/cadastro" method="post">

    </label> Você é pessoa física ou jurídica?
        <input type="text" name="tipo" required>
    </label>

    <label> Nome:
        <input type="nome" name="nome" required>
    </label>

    <label> Email:
        <input type="email" name="email" required>
    </label> 
    
    </label> Senha:
        <input type="password" name="senha" required>
    </label>

    </label> CEP:
        <input type="text" name="cep" required> 
    </label>

    </label> Cidade:
        <input type="text" name="cidade" required>
    </label>

    </label> Logradouro:
        <input type="text" name="logradouro" required>
    </label>

    </label> Número:
        <input type="number" name="numero" required>
    </label>

    </label> Bairro:
        <input type="text" name="bairro" required>
    </label>

    </label> Estado (UF):
        <input type="text" name="estado" required>
    </label> 

    <label>Seu email:
        <input type="email" name="email" required>
    </label>

    <label>Crie uma senha:
        <input type="password" name="senha" required>
    
    </label> <button type="submit">Cadastrar</button>
</form>

</main>

<footer>
    <p>© 2025 — Minha Loja</p>
</footer>

<label for="modal-login-toggle" class="link" style="cursor:pointer;">
    Minha Conta
</label>

</body>
</html>